<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="AssetManagement" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AssetManagement;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-UK" uiCulture="en-UK"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages theme="Light" controlRenderingCompatibilityVersion="4.0"/>
    <authentication mode="Forms">
      <forms name="LoginCookie" loginUrl="~/Login.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="NewAccount.aspx">   
    <system.web>
      <authorization>
        <allow users="*"/>

      </authorization>
    </system.web>
  </location>
</configuration>