<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AssetManagement" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AssetManagement;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms name="LoginCookie" loginUrl="~/Login.aspx" ></forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <globalization culture="en-UK" uiCulture="en-UK"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>